#header {
	position: relative;
	padding: 1em;
	background: linear-gradient(to bottom, #008813 0%,#00420a 100%);
	color: #fff;
	height: 50px;
}
#header a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
#header button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	border: 0;
	padding: 0;
	width: 52px;
	background: transparent;
}
#header button svg {
	width: 75%;
	height: 75%;
	fill: #fff;
}

#app.map #header button {
	background-color: #fff;
}
#app.map #header button svg {
	fill: #00420a;
}

@media only screen and (min-width: 640px) {
	#header button { display: none; }
}
