html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	width: 100%;
	height: 100%;
}

#mapContainer {
	position: absolute;
	top: 0;
	left: 320px;
	right: 0;
	bottom: 0;
	z-index: 1;
}

#map {
	width: 100%;
	height: 100%;
}

#main {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 320px;	
	height: 100%;
	background-color: #fff;
	border-right: 2px solid #000;
	z-index: 2;
	overflow: auto;
}

#header {
	padding: 1em;
}

#nav {
	display: table;
	width: 100%;
	text-align: center;
}
#nav a {
	display: table-cell;
	width: 50%;
}

#body {
	width: 100%;
	min-height: 90%;
}

#footer {
	width: 100%;
	background: #fff;
}
