{{ define "title" }}Food Bank Near Me{{ end }}
{{ define "main" }}
<section class="hero is-dark is-fullheight">
  <div class="hero-header">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <img class="image is-24x24" src="{{ "assets/logo.svg" | relURL }}" width="24" height="24" alt="logo"> <span>FoodBankNear.Me</span>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container">
    </div>
  </div>
  <div class="hero-footer">
    <div class="container has-text-centered">
      <span class="subtitle">Coming soon</span>
    </div>
  </div>
</section>
{{ end }}
