{{ define "main" -}}
<section class="section">
  <div class="container">
    <div class="content">
      <h1>Cities With Food Banks In {{ .Title }}</h1>
      <p><a href="../">Back to all states</a>.</p>
    </div>

    {{ $cities := sort (.Site.Pages.RelatedIndices . "stateIndexKey") "Title" }}
    {{ if gt (len $cities) 0 }}
      <div class="columns is-multiline">
        {{ range $cities }}
          {{- $count := len (.Site.RegularPages.RelatedIndices . "cityIndexKey") -}}
          <div class="column state is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen">
            <p><a href="{{ .Permalink }}">{{ .Params.city }}</a> ({{ $count }})</p>
          </div>
        {{ end }}
      </div>
    {{ else }}
    <p>No locations in this state. <a href="../">Back to the listing of states</a>.</p>
    {{ end }}
  </div>
</section>
{{- end }}
