{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  <p><a href="../">show all states</a></p>

  <h2>Cities in {{ .Page.Title }}</h2>
  {{ $cities := sort (.Site.Pages.RelatedIndices . "stateIndexKey") "Title" }}
  {{ if gt (len $cities) 0 }}
    <ul>
      {{ range $cities }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  {{ else }}
    <p>no cities...</p>
  {{ end }}
</div>

{{ if .Site.DisqusShortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}
{{- end }}
