{{- define "main" -}}

<div class="container">
  <div itemscope itemtype="http://schema.org/LocalBusiness">
    <h1><span itemprop="name">{{ .Title }}</span></h1>
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress">{{ .Params.address }}</span>
      <span itemprop="addressLocality">{{ .Params.city }}</span>,
      <span itemprop="addressRegion">{{ .Params.state }}</span>
    </div>
    <a href="tel:{{ .Params.phone }}" itemprop="telephone">{{ .Params.phone }}</a>
  </div>
  <div class="content">{{ .Content }}</div>
</div>

{{- if eq .Params.partnerBank false }}
  {{- $partners := sort (.Site.Pages.RelatedIndices . "partnerGroupId") "Title" -}}
  {{- if gt (len $partners) 0 -}}
  <div class="container">
    <h2>Partner Organizations</h2>
    <p>This member of Feeding America has the following partner organizations.</p>
    <div class="columns is-multiline">
    {{- range $partners }}
      <div class="column is-half-tablet">
        {{- partialCached "location_card.html" . .Params.state .Params.city .Params.slug -}}
      </div>
    {{- end }}
    </div>
  </div>
  {{- end -}}
{{- else -}}
  <div class="container">
    <h2>Partner Organization</h2>
    <p>This is partner of the following Feeding America member.</p>
    {{- range first 1 (where (where .Site.RegularPages ".Params.partnergroupid" "==" .Params.partnerGroupId) ".Params.partnerbank" "==" false) -}}
      {{- partial "location_card.html" . .Params.state .Params.city .Params.slug -}}
    {{- end -}}
  </div>
{{- end -}}

{{- end -}}
